.testimonial {
    flex: 1;
    width: 100%;
    flex-direction: column;
    background-image: url(../../assets/carLight.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-color: transparent;
   


    height: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .backImg {
        display: flex;
        flex-wrap: wrap;

        img {
            display: flex;
            flex-wrap: wrap;

            max-height: 100%;


            object-fit: contain;
        }


    }



}

.testimonial-item {
    width: 65%;
    min-height: 360px;
    border: solid 3px rgba(255, 255, 255, 0.02);
    background-color: rgba(50, 100, 100, 0.1);
    backdrop-filter: blur(2px);
    box-shadow: 2px -2px 5px rgba(198, 241, 241, 0.219);
    color: rgba(150, 150, 150, 0.8);
    display: flex;
    justify-content: space-around;

    align-items: center;

    flex-direction: row;

    border-radius: 15px;

    transition: all 0.3s ease-in-out;

    img {
        width: 200px;
        height: auto;
        object-fit: cover;
        border-radius: 50%;
        margin-left: 2rem;

    }

    @media screen and (min-width: 2000px) {
        min-height: 450px;

        img {
            width: 150px;
            height: 150px;
        }
    }

    @media screen and (max-width: 900px) {
        width: 100%;

        img {
            width: 150px;
            height: 150px;
            margin-left: 1rem;
        }
    }

    @media screen and (max-width: 600px) {
        width: 90%;
        flex-direction: column;
        height: 100%;

        img {
            margin-left: 0rem;
        }
    }
}

.app__testimonial-content {


    max-width: 100%;
    padding: 0 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    p {
        font-size: 1.25rem;
        line-height: 2rem;
        color: rgba(229, 247, 233, 0.8);
        font-family: var(--font-base);
        font-weight: 200;
    }

    h4 {
        font-weight: 600;
        color: rgba(108, 248, 143, 0.8);
        margin-top: 2rem;
    }

    h5 {
        font-weight: 400;
        color: var(--gray-color);
        margin-top: 5px;
    }

    @media screen and (max-width: 450px) {
        padding: 0rem 0rem;

    }

    @media screen and (max-width: 600px) {
        margin-top: 0;

    }
}

.app__testimonial-btns {
    flex-direction: row;
    margin-top: 1rem;
    display: flex;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: solid 2px rgba(12, 68, 30, 0.418);
        background-color: rgba(96, 139, 121, 0.048);
        margin: 1rem;
        transition: all 0.3s ease-in-out;

        svg {
            width: 20px;
            height: 20px;
            color: var(--secondary-color)
        }

        &:hover {
            background-color: rgba(14, 143, 68, 0.178);
            box-shadow: 0 0 2px rgba(119, 119, 119, 0.781);

            svg {
                color: var(--white-color);
            }

        }
    }
}