.gpt3__features {
  
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
 
    margin: 5rem 0 0 0;
    padding:0;
    
    
    

    .heading {
      
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        
        flex-direction: column;
        padding: 1rem;
        
        
        flex:1;
      
        margin-top: 4rem;
        flex-grow: grow;
       

        text-align: left;
        
       



        h1 {
            font-size: 34px;
            line-height: 45px;
            font-weight: 800;
            font-family: var(--font-family);
        }

        p {
            color: var(--color-subtext);
            font-size: 16px;
            line-height: 30px;
            font-weight: 500;
            font-family: var(--font-family);

            margin-top: 2rem;
        }
    }

    .container {
       
        display: flex;
        flex:1.2;
        justify-content: space-around;
   
        align-content: space-around;

        
        flex-direction: column;
        margin-right:2rem;
    
    
    }

 
}









@media screen and (max-width: 900px) {
    .gpt3__features {
        flex-direction: column;
        
        .heading {
            
            width:90%;
        }
        .text {
            width: 90%;
        }
    }

    
}

@media screen and (max-width: 550px) {
    .gpt3__features-heading h1 {
        font-size: 28px;
        line-height: 38px;
    }
}