.gpt3__blog {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  padding: 2rem;

  .heading {
    width: 100%;
    text-align: left;
    margin-bottom: 5rem;

    h1 {
      font-size: 50px;
      line-height: 75px;
      font-family: var(--font-family);
      font-weight: 700;
      color: rgba(200, 215, 243, 0.8);
    }

    span {
      background: var(--gradient-text);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

  }

  .container {
    display: flex;
    flex-direction: row;

    .container_groupA {
      flex: 0.75;
      margin-right: 2rem;
    }

    .container_groupB {
      flex: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);


      grid-gap: 2rem;

      .container_groupC {
        display: none;
      }
    }
   

  }

  

}









@media screen and (max-width: 990px) {
  
  .gpt3__blog {

    .container {
      

      .container_groupA {
        display: none;
    
      }
      
    
    

      .container_groupB {
        
      .container_groupC {
        display: flex;
        flex:0.25
      
      }
       
      }
    }
    
  }

  

 
}

@media screen and (max-width: 700px) {
  .gpt3__blog-container_groupB {
    grid-template-columns: repeat(1, 1fr);
  }

  .gpt3__blog-container_groupA .gpt3__blog-container_article {
    width: 100%;
  }

  .gpt3__blog-heading h1 {
    font-size: 46px;
    line-height: 52px;
  }
}

@media screen and (max-width: 500px) {
  .gpt3__blog-heading h1 {
    font-size: 32px;
    line-height: 42px;
  }
}