.gpt3__navbar {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 100%;
    padding: 2rem 3rem;

    @media screen and (max-width: 700px) {
        .gpt3__navbar {
            padding: 2rem 4rem;
        }
    
    
    }

    .logo {
        transition: all 0.4s ease-in-out;
        border-radius: 3%;
        margin-right: 2rem;
        background-color: rgba(17, 26, 100, 0.021);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

        img {
            width: 150px;
        }

        &:hover {
            box-shadow: 0 0 5px -10px rgba(255, 255, 255, 0.2);
            background-color: rgba(0, 3, 12, 0.5) !important;
        }



    }

    .links {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;

        ul {
            width: 100%;
            flex-direction: row;
            display: flex;
            list-style: none;
            justify-content: space-evenly;

            li {
                text-transform: uppercase;
                margin: 1rem;
                color: rgba(108, 123, 129, 0.705);
                font-weight: bold;
                text-shadow: 0 0 2px rgba(122, 121, 121, 0.52);
                font-family: var(--font-family);
                flex-direction: row;

                &:hover {
                    a {
                        color: #0004f8c2;
                        
                        text-decoration: !important;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .menu {
        display: none;

        svg {
        cursor: pointer;
        color:aqua;

        }
        .menu_container {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
            text-align: end;
            background: var(--color-footer);
            padding: 1rem;
            top: 60px;
            position: absolute;
            right: 0;
            margin-top: 1rem;
            min-width: 210px;
            border-radius: 5px;
            box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
    
    
    
            p {
                margin: 1rem 0;
            }
    
       
        }
        
    }



    &:hover {
        /* ff 3.6+ */
        background: -moz-linear-gradient(90deg, rgba(0, 20, 70, 1) 0%, rgba(0, 210, 255, 1) 100%);

        /* safari 5.1+,chrome 10+ */
        background: -webkit-linear-gradient(90deg, rgba(0, 20, 70, 1) 0%, rgba(0, 210, 255, 1) 100%);

        /* opera 11.10+ */
        background: -o-linear-gradient(90deg, rgba(0, 20, 70, 1) 0%, rgba(0, 210, 255, 1) 100%);

        /* ie 6-9 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00D2FF', endColorstr='#001446', GradientType=0);

        /* ie 10+ */
        background: -ms-linear-gradient(90deg, rgba(0, 20, 70, 1) 0%, rgba(0, 208, 255, 0.281) 100%);

        /* global 94%+ browsers support */
        background: linear-gradient(90deg, rgba(0, 20, 70, 0.21) 0%, rgba(0, 208, 255, 0.137) 100%);

        transition: all 0.3s ease-in-out;
        box-shadow: 0px 2px 4px 0px rgba(31, 31, 31, 0.274);


        .logo {
            transition: all 0.4s ease-in-out;
            background-color: rgba(19, 19, 19, 0.116);
            box-shadow: 0px 0px 10px rgba(216, 216, 216, 0.199);
        }

        a {
            text-transform: uppercase;
            color: rgba(19, 115, 224, 0.699);
            font-weight: bold;
            text-shadow: 0 0 2px rgba(28, 29, 32, 0.678);


        }









    }

    @media screen and (max-width: 900px) {
        .links {
            display: none;
        }
        .menu {
            display: flex;
        }
    }

    


    

  

 


}




@media screen and (max-width: 550px) {
    .gpt3__navbar {
        padding: 2rem;
    }

  

    .menu_container {
        top: 20px;
    }




}