.gpt3__footer {
  border: 2px solid rgba(0, 8, 8, 1);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgb(1, 0, 23) 30%, rgb(0, 65, 187) 100%);
  width: 100%;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;

    p {
      font-family: var(--font-family);
      font-size: 12px;
      line-height: 14px;
      color: #acb6ee;
    }

    h4 {
      font-family: var(--font-family);
      font-size: 18px;
      line-height: 20px;
      font-weight: 400;
      color: #acb6ee;
      letter-spacing: 1px;
      margin-bottom: 1rem;
    }
  
    .heading {
      display: flex;
      width: 90%;
      text-align: center;
      justify-content: center;
      margin: 4rem 0rem;
  
      h1 {
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 58px;
        line-height: 75px;
        text-align: center;
        letter-spacing: -0.04em;
      }
    }

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      border: 2px solid rgba(30, 65, 141, 0.6);
      text-align: center;
      margin-bottom: 2rem;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: all 1s ease;
      width: 20rem;
  
      svg {
        color: rgba(30, 65, 141, 0.8);
        margin-right: 1rem;
        font-size: 40px;
  
      }
  
      &:hover {
        background-color: rgba(23, 88, 199, 0.171);
  
        svg,
        p {
          color: rgba(201, 206, 216, 0.6);
        }
  
      }
  
      p {
        font-size: 18px;
        font-family: var(--font-family);
        line-height: 21px;
        letter-spacing: 2px;
        font-weight: 300;
        color: rgb(94, 173, 184);
        word-spacing: 2px;
      }
    }

    .links {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%;
      text-align: left;
      padding: 3rem;
  
      .maps {
        display: flex;
        flex-direction: column;

        P {
          margin-bottom: 0.51rem;
          font-family: var(--font-family);
          color: rgba(140, 179, 184, 0.651);
          font-size: 14px;
          letter-spacing: 1px;
          
          line-height: 21px;
        }
        span {
          color: rgb(167, 155, 138);
        }
  
      }
  
      .funcionamento {
  
  
        div {
          display: flex;
          flex-direction: row;
  
          justify-content: center;
  
  
  
          h5 {
            width: 10%;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            text-align: start;
            margin: 0 1rem 0 0;
            line-height: 1rem;
            letter-spacing: 1px;
            color: rgba(239, 241, 245, 0.877);
          }
  
          p {
            width: 40%;
            line-height: 1.12rem;
            color: rgba(132, 156, 204, 0.938);
  
            text-align: start;
          }
        }
  
      }
  
  
  
      .dados {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
  
        p {
          text-align: end;
          color: #acb6ee;
          line-height: 1rem;
        }
      }
  
    }
  }
  .copyright {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 1rem 1rem 1rem;
    text-align: center;
    width: 90%;

    p {
      font-family: var(--font-family);
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 1px;
      font-feature-settings: "liga" off;
      color: #a7a1a1cb;
     
    }

    p:nth-child(1) {
      align-self: center;
      margin-left: 1rem;
    }

    p:nth-child(3) {
      align-self: flex-end;
      font-size: 10px;
    }
  }
}



@media screen and (max-width: 1150px) {
  .gpt3__footer {
    .container {

      .heading {
        max-width: 90%;
        flex: 1;
      
        h1 {
          font-size: 50px;
          line-height: 50px;
        }
      }

      .links {
        padding: 0;
        
        div {
          h4 {
            font-size: 16px;
          }
        }
        
        
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .gpt3__footer {
    .container {
      width: 100%;

      .heading {
        max-width: 90%;
        flex: 1;
        
        
      
        h1 {
          font-size: 50px;
          line-height: 50px;
        }
      }


      }
    }
  }

  @media screen and (max-width: 850px) {
    .gpt3__footer {
      .container {
        width: 100%;
  
        .links {
          padding: 0 0.21rem;
          div {
            h4 {
              font-size: 15px;
            }
          }
          
          .maps {
            width: 100%;
            align-content: center;
            align-items: center;
            margin-bottom: 2rem;
            


          }
          .funcionamento {
            display: flex;
            flex-direction: column;
            padding: 0 0.2rem;

            div {
              display: flex;
              width: 100%;
              justify-content: flex-start;
              h5 {
                font-size: 12px;
                
              }
              p{
                font-size: 11px;
                
              }

            }


          }

          .dados {
            display: flex;
            justify-content: flex-end;
            h4 {
              text-align: end;
              
            }
            p {

            }
          }
        }
  
  
        }
      }
    }
