.gpt3__partsChecked {



  width: 100%;
  margin: 0;
.container {
  display: flex;
  box-shadow: 0 0 20px  rgba(25, 28, 71, 0.5);
  border: 5px solid rgba(27, 41, 59, 0.185);
  flex-direction: row;
  margin-left: 2rem;
  
  .part {
    width: 50%;
    display: flex;
    .bielas {
      margin-bottom: 1rem;
    }
 


     
  }

  .image {
   
    display: flex;
    width:50%;
   justify-content: flex-start;
   flex-wrap: wrap;
    align-items: center;
   
    
 
 
    img {
      border-radius: 0.1rem;
      
      width: 100%;
      height: auto;
      filter:contrast(1.2) saturate(0.2) hue-rotate(220deg);

    }
  }

}
 
 
  
}


@media screen and (max-width: 950px) {
  .gpt3__possibility {
    flex-direction: column;
  }

  .gpt3__possibility-image {
    margin: 1rem 0;
  }

  .gpt3__possibility-content {
    margin-top: 2rem;
  }
}
